{% extends "base.html" %}
{% load static %}

{% block title %}
  About {{ item.name }}
{% endblock %}

{% block head %}
  <script type="module" src="{% static 'js/items/items.js' %}" defer></script>
{% endblock %}

{% block content %}
  {% include "includes/apply_coupon.html" %}
  <div class="item">
    <div><b>{{ item.name }}</b></div>
    <div>{{ item.price }}</div>
    <div>{{ item.currency|upper }}</div>
  </div>
  <form class="buy-form" method="post" action="{% url 'purchases:buy' %}">
    <input type="hidden" id="percent-off" name="percent_off">
    <input type="hidden" id="discount-id" name="discount_id">
    {% csrf_token %}
    <input type="hidden" name="items" value="{{ item.id }}">
    <button class="buy" type="submit">Buy</button>
  </form>
  <div class="description">
    <b>About {{ item.name }}</b>:<br>
    {{ item.description }}
  </div>
{% endblock %}
