{% extends "base.html" %}
{% load static %}

{% block title %}
  Buy my items
{% endblock %}

{% block head %}
  <script type="module" src="{% static 'js/items/items.js' %}" defer></script>
{% endblock %}

{% block content %}
  <form class="filter" method="get">
    {{ filterset.form.as_p }}
    <button type="submit">Filter</button>
  </form>
  {% include "includes/apply_coupon.html" %}
  <form class="buy-form" method="post" action="{% url 'purchases:buy' %}">
    {% csrf_token %}
    <div class="item-list">
      {% for item in filterset.qs %}
        <div class="item">
          <div><b>{{ item.name }}</b> - <a href="{% url 'items:detail' item.id %}">detail...</a></div>
          <div>{{ item.price }}</div>
          <div>{{ item.currency|upper }}</div>
        </div>
        <input class="form-input" type="checkbox" name="items" value="{{ item.id }}">
      {% endfor %}
    </div>
    <input type="hidden" id="percent-off" name="percent_off">
    <input type="hidden" id="discount-id" name="discount_id">
    <button class="buy" type="submit">Buy</button>
  </form>
{% endblock %}
