{% extends "base.html" %}
{% load static %}

{% block title %}
  Pay
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/checkout.css' %}" />
{% endblock %}

{% block content %}
  <div class="pay">
    <form class="payment-form"  client="{{ client }}" id="payment-form">
      <div id="payment-element"></div>
      <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay now</span>
      </button>
      <div id="payment-message" class="hidden"></div>
    </form>
  </div>
{% endblock %}
