{% extends "base.html" %}
{% load static %}

{% block title %}
  Pay
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/checkout.css' %}" />
{% endblock %}

{% block content %}
  <div id="payment-info" class="payment-info" return_url="{{ return_url }}">
    <p>Total amount: {{ total_amount }}</p>
    <p>Discount: {{ discount }}</p>
    <p>Percent off: {{ percent_off }}</p>
    <p>
      Items:<br>
      <ul>
        {% for item in items %}
          <li>
            {{ item.name }} - {{ item.price }}
          </li>
        {% endfor %}
      </ul>
    </p>
    <p>Tax amount exclusive: {{ tax_amount_exclusive }}</p>
  </div>
  <div class="pay">
    <form class="payment-form"  client="{{ client }}" id="payment-form">
      <div id="payment-element"></div>
      <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay now</span>
      </button>
      <div id="payment-message" class="hidden"></div>
    </form>
  </div>
{% endblock %}
